In [1]:
#List Datatype

In [2]:
# Creating a list giving a varailable name called students and representing the list in SQUARE Braces [ ]

students = ['arun', 'babu', 'chethan', 'dhanush', 'esha']

# The index value of the list starts from Zero 0.

In [3]:
#Display the students name using print function

print(students)

['arun', 'babu', 'chethan', 'dhanush', 'esha']

In [10]:
#To see the datatype of the students varaiable using type method

type(students)

list

In [12]:
print(type(students))

<class 'list'>

In [13]:
print(students)

['arun', 'babu', 'chethan', 'dhanush', 'esha']

In [15]:
#Access the Items from Students list using Index value of each items

print(students[2])

chethan

In [16]:
print(students[4])

esha

In [17]:
print(students[2].title())

print(students[4].title())

Chethan
Esha

In [18]:
print(students)

['arun', 'babu', 'chethan', 'dhanush', 'esha']

In [20]:
# Replace the Arun name to Arjun in the students list

students[0] = 'arjun'

In [21]:
print(students)

['arjun', 'babu', 'chethan', 'dhanush', 'esha']

In [23]:
#Adding new item/elemet into the existing student list using append function

students.append('francis')

#Append function will add the item/elements to the last index positions of the list

In [24]:
print(students)

['arjun', 'babu', 'chethan', 'dhanush', 'esha', 'francis']

In [26]:
#Adding new item into the existing student list to required index position using insert function and index value

students.insert(0, 'ashish')

In [27]:
print(students)

['ashish', 'arjun', 'babu', 'chethan', 'dhanush', 'esha', 'francis']

In [28]:
# Removing items from the existing student list using 'del' method

del students[1] # permanent delete

In [29]:
print(students)

['ashish', 'babu', 'chethan', 'dhanush', 'esha', 'francis']

In [30]:
# Creating a carbon copy of students list to new varailabe

x = students

In [31]:
print(x)

['ashish', 'babu', 'chethan', 'dhanush', 'esha', 'francis']

In [33]:
x = students.pop()

In [36]:
print(x)

print(students)

francis
['ashish', 'babu', 'chethan', 'dhanush', 'esha']

In [37]:
print(students)

['ashish', 'babu', 'chethan', 'dhanush', 'esha']

In [38]:
y = students.pop()

In [39]:
print(y)

print(students)

esha
['ashish', 'babu', 'chethan', 'dhanush']